h1 #{dataStructure}
div(class='row')
  input(class='new-element', placeholder='New Element')
  button(class='add-element btn btn-success') Add
div(class='row')
  button(class='pop btn btn-danger') Pop
  button(class='clear btn btn-primary') Clear
ul(class='list-of-elements list-group')
